body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-frame{
  margin: 5%;
  padding: 30px;
  width: calc(80vw);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(102, 102, 102, 0.288))) ;
}

.customers-actions{
  background: #AAA;
  padding: 10px;
  margin: 10px;

}

.customers-actions button {
  background: white;
  min-width: 100px;
  height: 30px;
  margin: 5px;
}

.customers-list-item .field{
  width: 160px;
  margin: 1px;
  padding: 4px;
  background: #eee;
  display: inline-block;
}
